.page-view {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.view-choice {

  clear: both;
  width: 208px;
  height: 33px;
  border: 1px solid $bordergrey;
  border-radius: 12px;
  padding:0px 0px;;
  text-align: center;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  .fa {
    font-size: 21px;
  }
  .list, .thumb {
    height: 32px;
    border-right: 1px solid $bordergrey;
    width: 33%;
    padding: 6px 0px;

  }
  .grid {
    width: 34%;
    height: 32px;
    padding: 6px 0px;
    background-color: $bordergrey;
  }
}

.page-nav {
  display: flex;
  justify-content: space-between;
  border: 1px solid $bordergrey;
  width: 280px;
  height: 33px;
  border-radius: 3px;
  .previous, .next {
    width: 15%;
    height: 32px;
    padding: 6px 0px;
    text-align: center;
    .fa{
        font-size: 20px;
        color: $grey;
    }
  }
  .one-of{
    border-left: 1px solid $bordergrey;
    border-right: 1px solid $bordergrey;
    width: 70%;
    text-align: center;
    font-size: 16px;
    padding: 6px;
    color: $darkgrey;
    p {
      margin: 0px;
    }
  }
}
  .sort {
    display: flex;
    border: 1px solid $bordergrey;
    border-radius: 3px;
    height: 33px;
    width: 115px;
    justify-content: space-between;
    text-align: center;
    .arrow {
      width: 35%;
      border-left: 1px solid $bordergrey;
      padding-top: 0px;
      color: $grey;
      font-size: 20px;
    }
    .view {
      text-align: center;
      width: 65%;
      padding-top: 6px;
    }
  }
